<!DOCTYPE html>
<html lang="en" data-pgc-master="head.html">
    <head>
        <meta charset="utf-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, viewport-fit=cover"/>
        <meta name="apple-mobile-web-app-status-bar-style" content="default"/>
        <meta name="apple-mobile-web-app-capable" content="yes"/>
        <meta name="description" content=""/>
        <meta name="author" content=""/>
        <title>Blank Template for Bootstrap</title>
        <meta name="theme-color" content="#fff"/>
        <link rel="apple-touch-icon" sizes="180x180" href="../assets/favicons/apple-touch-icon.png"/>
        <link rel="icon" type="image/png" sizes="32x32" href="../assets/favicons/favicon-32x32.png"/>
        <link rel="icon" type="image/png" sizes="16x16" href="../assets/favicons/favicon-16x16.png"/>
        <link rel="shortcut icon" href="../assets/favicons/favicon.ico"/>
        <link rel="manifest" href="../manifest.json"/>
        <!-- Bootstrap core CSS -->
        <link href="../bootstrap/css/bootstrap.min.css" rel="stylesheet"/>
        <!-- Custom styles for this template -->
        <link href="../style.css" rel="stylesheet"/>
        <link href="https://cdn.jsdelivr.net/npm/@mdi/font@6.4.95/css/materialdesignicons.min.css" rel="stylesheet" type="text/css"/>
        <link href="https://fonts.googleapis.com/css?family=Source+Serif+Pro:400,400italic,700,700italic&display=swap" rel="stylesheet" type="text/css"/>
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300italic,700,700italic,400italic,400&display=swap" rel="stylesheet" type="text/css"/>
    </head>
    <body data-pgc-field="editableBody">
        <main><div class="container">
        <h1>Buttons</h1>
        <section>
            <h2>List buttons</h2>
        </section>
    </div></main>
        <!-- Bootstrap core JavaScript
    ================================================== -->
        <!-- Placed at the end of the document so the pages load faster -->
        <script src="../assets/js/popper.min.js"></script>
        <script src="../bootstrap/js/bootstrap.min.js"></script>
    </body>
</html>
